/vendor
/node_modules
.env

# Composer
composer.lock

# OS
.DS_Store
.idea/

# Misc
package.json
gulpfile.js

# Laravel
storage/app
storage/framework
storage/logs
resources/assets/bootstrap/node_modules
storage
