html {
	position: relative;
	min-height: 100%;
}

body {
	border-top: 8px solid #24566d;
	border-bottom: 4px solid #24566d;
}


.container {
	max-width: 720px;
}

.unstyled,
.unstyled:hover{
	color: inherit;
	text-decoration: none !important;
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
	color: #222;
}

.copy h1,
.copy h2,
.copy h3,
.copy h4 {
	margin-top: 30px;
}

.copy {
	color: #444;
}


/* Custom page header */
.site-title{
	margin-top: 0;
	line-height: 64px;
	letter-spacing: -1px;
}

.site-title img{
	margin-right: 15px;
}

.site-title a{
	color: #222;
}
.site-title a:hover,
.site-title a:focus {
	text-decoration: none;
}

.header {
	margin-top: 30px;
	padding-bottom: 20px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
}
.header-nav {
	margin-top: 14px;
	float: right;
}

.header-nav li{
	display: inline-block;
	margin-left: 10px;
}

.header-nav a {
	font-weight: bold;
	padding: 6px 12px;
	font-size: 110%;
	display: inline-block;
	text-transform: uppercase;
}

.header-nav a:hover {
	text-decoration: none;
	color: #222;
}

.header-nav a.active {
	background: #24566d;
	color: white;
}

/* content specific styling */
.content a{
	font-weight: 500;
}

/* Custom page footer */
.footer {
	background-color: #24566d;
	background-image: url("../img/always-grey.png");
	font-size: 15px;
	margin-top: 60px;
	color: #eee;
}

.footer ul {
	list-style: none;
	padding: 0;
}

.footer a{
	color: #fff;
}

.footer h3 {
	color: #fff;
	font-size: 18px;
}

.footer-1 {
	padding: 20px 0;
}

.footer-2 {
	font-size: 14px;
	padding-top: 20px;
	background: #111;
	margin-top: 20px;
	color: #eee;
	text-align: center;
}

.footer-2 a {
	text-decoration: underline;
}

.footer-2 a:hover {
	text-decoration: none;
}

/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	background-image: url("../img/cover.jpg");
	background-size: cover;
	background-color: #222;
	color: #f8f8f8;
}

.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron h4{
	color: white;
}

.jumbotron *:first-child,
.well *:first-child{
	margin-top: 0;
}

.jumbotron *:last-child,
.well *:last-child{
	margin-bottom: 0;
}

/* pricing blocks */
.pricing-block h1,
.pricing-block h2,
.pricing-block h3,
.pricing-block {
	color: initial;
}

.pricing-block{
	background: white;
	padding: 20px;
}

.pricing-block .price{
	font-size: 32px;
	color: green;
}

.pricing-block .price s{
	color: red;
}

.pricing-block li{
	border-bottom: 1px solid #efefef;
	padding: 6px 0;
	margin-bottom: 6px;
}

.pricing-block li:last-of-type{
	border-bottom: 0;
}

.refund-guarantee {
	position: relative;
	margin-bottom: 40px;
	padding: 20px 0 20px 120px;
	font-style: italic;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
}

.refund-guarantee p {
	margin-bottom: 0;
}

.refund-guarantee img {
	position: absolute;
	left: 0;
}

@media( max-width: 780px ) {
	.refund-guarantee{
		padding-right: 20px;
		padding-left: 140px;
	}

	.refund-guarantee img{
		left: 20px;
	}
}

/* testimonials */
.testimonial {
	position: relative;
	padding-left: 160px;
	border-left: 0;
	min-height: 140px;
	margin-bottom: 40px;
}

.testimonial img {
	border-radius: 50%;
}

.testimonial .copy {
	margin-bottom: 20px;
	font-style: italic;
	font-size: 16px;
}

.testimonial header {
	position: absolute;
	left: 0;
}

.testimonial .author-name {
	font-weight: bold;
}

@media( max-width: 620px ) {
	.testimonial{
		padding-left: 120px;
	}

	.testimonial img{
		width: 80px;
		height: auto;
	}
}

/* Persons */
/* @todo duplicate of testomnial stuff */

.person {
	position: relative;
	padding-left: 200px;
	min-height: 160px;
}

.person .avatar {
	position: absolute;
	border-radius: 50%;
	left: 0;
}

.person .text {
	margin: 0 0 20px;
	font-style: italic;
}

.person h3 small {
	display: block;
}

.padding {
	padding: 15px;
}

.sm-bottom-margin,
.xs-bottom-margin {
	margin-bottom: 10px;
}

hr {
	border-top-color: #f2f2f2;
}

.featurette-divider {
	margin: 80px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 992px) {

	.jumbotron h1, .jumbotron .h1 {
		font-size: 36px;
	}

	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-right: 0;
		padding-left: 0;
	}

	.sm-bottom-margin {
		margin-bottom: 0;
	}

}

@media screen and (min-width: 420px ) {

	.xs-bottom-margin {
		margin-bottom: 0;
	}
}


/* even out thumbnails */
.plugin .thumbnail img{
	height: 120px;
	width: auto;
}

/* callouts */
.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}
.bs-callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}
.bs-callout p:last-child {
	margin-bottom: 0;
}
.bs-callout code {
	border-radius: 3px;
}
.bs-callout+.bs-callout {
	margin-top: -5px;
}
.bs-callout-default {
	border-left-color: #777;
}
.bs-callout-primary {
	border-left-color: #ff4081;
}
.bs-callout-success {
	border-left-color: #5cb85c;
}
.bs-callout-danger {
	border-left-color: #d9534f;
}
.bs-callout-warning {
	border-left-color: #f0ad4e;
}
.bs-callout-info {
	border-left-color: #5bc0de;
}

a.cta{
	color: #D96473;
}

/*
Thumbnails
*/

.thumbnail {
	display: block;
	border: 1px solid #eee;
	margin-bottom: 20px;
}

.thumbnail img{
	width: 100%;
}

.thumbnail .caption {
	padding: 0 20px;
}

img{ max-width: 100%; }


/*--------------------------------
Responsive Menu
---------------------------------*/

#toggle,
.toggle {
	display: none;
}
@media only screen and (max-width: 768px){

	.header-nav {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 20;
		text-align: right;
		width: auto;
		background: white;
		float: none;
	}

	.menu {
		display: none;
		padding: 0;
		margin: 20px 0 0;
	}
	.menu > li {
		display: block;
		float: none;
		margin: 0;
	}

	.menu a{
		padding: 6px 24px;
		width: 100%;
	}

	.menu a:hover,
	.menu a:focus {
		background: #24566d;
		color: white;
		text-decoration: none;
	}

	.toggle {
		margin-top: 15px;
		margin-right: 30px;
		display: block;
		position: relative;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		user-select: none;
		font-size: 32px;
	}

	#toggle:checked + nav .toggle {
		color: black;
	}

	#toggle:checked + nav .menu {
		display: block;
	}

	.toggle:before{
		content: "\e236";
	}
}

.text-centered {
	text-align: center;
}

.medium-margin{
	margin-top: 40px;
	margin-bottom: 40px;
}

.section-title{
	font-size: 36px;
	text-align: center;
}

.margined-elements > *{
	margin: 0 10px;
}

@media( max-width: 480px ) {

	.site-title span {
		display: none;
	}

	.margined-elements > * {
		display: block;
		margin: 10px 0;
	}
}