$col-width: 100 / 6;

@media(min-width: 520px) {
  .row {
    margin-left: -20px;
    margin-right: -20px;
  }

  .col {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
  }

  .col-1 {
    width: $col-width + 0%;
  }

  .col-2 {
    width: $col-width * 2 + 0%;
  }

  .col-3 {
    width: $col-width * 3 + 0%;
  }

  .col-4 {
    width: $col-width * 4 + 0%;
  }

  .col-5 {
    width: $col-width * 5 + 0%;
  }

  .col-6 {
    width: 100%;
  }

}