@media(max-width: 680px) {
  .break-on-mobile {
    float: none !important;
    display: table;
  }

  .hide-on-mobile {
    display: none !important;
  }

  .scale-on-mobile {
    max-width: 50%;
    height: auto;
  }

  .bottom-margin-on-mobile {
    margin-bottom: 20px !important;
  }

}

@media( min-width: 680px ) {

  .hide-on-desktop {
    display: none !important;
  }

}