.no-js .hide-if-no-js {
  display: none;
}

.js .hide-if-js {
  display: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.bordered {
  border: 1px solid #eee;
  padding: 6px;
}

.muted {
  color: #aaa;
  font-weight: normal;
}

.small {
  font-size: 80%;
}

.big {
  font-size: 120%;
}

.strong {
  font-weight: bold;
}

.medium-padding {
  padding: 20px;
}

.small-padding {
  padding: 10px;
}

.big-margin {
  margin: 80px 0;
}

.medium-margin {
  margin: 50px 0;
}

.small-margin {
  margin: 20px 0;
}

.tiny-margin{
  margin: 10px 0;
}

.no-margin {
  margin: 0;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.unstyled {
  border: 0;
  text-decoration: none;
  font-weight: normal;
  color: inherit;
  padding: initial;
}

.slashes {
  &:before {
    content: "//";
    color: #999;
    margin-right: 15px;
  }
}

.help {
  font-size: 85%;
  font-style: italic;
  color: #888;
}

.red {
  color: #cc0300;
}